<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- Tên nhóm, ví dụ hiển thị trên title form-->
		<add key="GROUP_NAME" value="Group 13: Design pattern adapter" />

		<!-- Độ lớn của nét vẽ hình-->
		<add key="PEN_SIZE" value="1" />
		<!-- Màu mặc định trục tọa độ OXY-->
		<add key="COLOR_OXY" value="Black" />
		<!-- Phông chữ trên trục tọa độ-->
		<add key="FONT_DECAC_AXIS" value="Arial" />
		<!-- Phông chữ trên trục tọa độ-->
		<add key="FONT_SIZE_DECAC_AXIS" value="10" />
		<!-- Số mốc vẽ trên trục tọa độ-->
		<add key="NUMBER_OF_PLOTS" value="6" />
		<!-- Đơn vị dư trục tọa độ-->
		<add key="RESIDUAL_UNIT" value="2" />

		<!-- Màu vẽ hình 1-->
		<add key="COLOR_ONE" value="Red" />
		<!-- Màu vẽ hình 2-->
		<add key="COLOR_TWO" value="Orange" />
	</appSettings>
</configuration>